.user__gallery {
  position: relative;
}

.user__gallery-heading {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50px;
  position: absolute;
  text-align: right;
  right: 0;
}

.user__gallery_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 6rem 0 2rem;
  gap: 1.5rem;
}

.user__gallery_container-item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 15px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.user__gallery_container-item img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 5px;
}

.user__gallery_container-item .play-btn {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
}
