.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.logo {
  font-size: 1.75rem;
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

input[type="checkbox"] {
  cursor: pointer;
}

.sign-btn {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  margin-left: 1em;
}

.navbar-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  position: relative;
  margin-right: 1.5em;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease;
}

.line a:hover::after {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: -5%;
}

.navbar-lists-mobile {
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-lists-mobile .nav-links {
  height: 32px;
  z-index: 2;
}

.navbar__lists_container {
  position: absolute;
  min-height: 100vh;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    var(--gradient-pink),
    var(--gradient-purple)
  );
  z-index: 1;
}

.navbar__lists_container-menu {
  min-height: 320px;
  height: 100%;
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar__lists_container-menu li a {
  margin: 0;
  color: #fff;
  font-size: 1rem;
}

.navbar__lists_container-menu li a:hover {
  color: rgb(24, 24, 24);
}

.navbar__lists_container-menu .btn {
  width: 100%;
  margin: 0;
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  overflow: hidden;
}

.navbar__lists_container-menu .btn::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.navbar__lists_container-menu .btn:hover {
  border: 1px solid #fff;
}

.nav-toggle {
  font-size: 2rem;
  fill: var(--gradient-pink);
  cursor: pointer;
}

.nav-toggle-close {
  fill: #fff;
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 2rem;
  }

  .navbar-lists {
    display: none;
  }

  .navbar-lists-mobile {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .navbar__lists_container-menu {
    min-width: 35vw;
  }
}
