.login {
  padding: 1rem;
}

.login__container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__container h3 {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.25rem;
  margin-bottom: 0.5em;
}

.login__container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin: 1em 0;
}

.login__container-form input {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom: 1em;
  width: 100%;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.login__container-form input:focus {
  border-image: linear-gradient(
      to right,
      var(--gradient-purple),
      var(--gradient-pink)
    )
    1;
}

.login__container-form .btn {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  margin: 0.5em 0;
}

.login__container-forgot {
  margin-top: 1em;
}

.login__container-forgot a {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.login__container-forgot a:hover::after {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}

.password_show {
  position: relative;
  width: 100%;
  border: none;
}

.password_show input {
  padding-right: 3rem;
}

.password_show-icon {
  position: absolute;
  font-size: 1.5rem;
  right: 5%;
  top: calc(50% - 20px);
  cursor: pointer;
  transition: all 0.2s ease;
}

.password_show-icon svg {
  fill: rgb(65, 65, 65);
}

.password_show-icon .icon-active,
.password_show-icon svg:hover {
  fill: #131313;
}
