.signup {
  padding: 1rem;
}

.signup__container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__container h3 {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.25rem;
  margin-bottom: 0.5em;
}

.signup__container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin: 1em 0;
}

.signup__container-form input {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom: 1em;
  width: 100%;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.signup__container-form input:focus {
  border-image: linear-gradient(
      to right,
      var(--gradient-purple),
      var(--gradient-pink)
    )
    1;
}

.signup__container-form input::file-selector-button {
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: rgb(61, 61, 61);
  padding: 0.25rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.signup__container-form input[type="file"] {
  color: #7c7c7c;
  cursor: pointer;
}

.signup__container-form input[type="file"]:hover {
  border-image: linear-gradient(
      to right,
      var(--gradient-purple),
      var(--gradient-pink)
    )
    1;
}

.signup__container-form button {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin: 0.5em 0;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.signup__container-form button:hover {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  color: #fff;
}

.signup__container-login {
  font-size: 1rem;
  color: #7c7c7c;
  margin-top: 1em;
}

.signup__container-login a {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.signup__container-login a:hover::after {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}
