.signup {
  padding: 3.5rem 1rem;
}

.signup__container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 0 auto;
  max-width: 535px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.signup__container h3 {
  background: linear-gradient(
    120deg,
    var(--gradient-purple),
    var(--gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  line-height: 2.75rem;
  text-transform: capitalize;
  text-align: center;
}

.signup__container_options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25rem;
  width: 100%;
}

.signup__container_options ul {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  margin: 1em 0;
}

.sign-up-input {
  display: flex;
  align-items: center;
}

.sign-up-input input {
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 0.75em;
  border: 2px solid #999;
  transition: all 0.2s linear;
}

.sign-up-input label {
  color: rgb(48, 48, 48);
}

.sign-up-input input,
.sign-up-input label {
  cursor: pointer;
}

.sign-up-input input:checked {
  border: 5px solid var(--gradient-purple);
}

.signup__container_options .btn {
  padding: 0.85rem 2rem;
  margin: 1em 0;
}
